@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header-section {
  margin: 26px 24px;
}

.header-section > .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav > .my-logo {
  font: normal normal 700 18px 'Poppins', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #6070ff;
}

.header-nav > .nav-menu {
  color: #6070ff;
}

.menu-section {
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: padding-box;
  object-fit: contain;
  padding-bottom: 138px;
  margin-bottom: 114px;
  border-bottom-left-radius: 20px;
}

.menu-section > div > .p-text {
  margin-top: 10px;
}

.menu-section > div {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-section > div > .heading-title {
  font: normal normal 700 40px 'Poppins', sans-serif;
  line-height: 52px;
  margin-top: 45px;
  color: #172b4d;
}

.menu-section > div > .p-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  height: 120px;
  margin-top: 5px;
}

.menu-section > div > .connect:hover {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media-icons {
  float: left;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin: 10px;
}

.menu-section > div > .media-icons {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
